@font-face {
    font-family: "San Francisco";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }
@font-face {
    font-family: "San Francisco Regular";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 150px 0px 50px 0px;
    height: calc(100vh - 200px);
    /* background-color: red; */
}

.hero .title {
    font-family: 'San Francisco', sans-serif;
    font-size: var(--size_text_large);
    padding: 0;
    margin: 0;
    line-height: 50px;

}

.hero .sub-title {
    font-family: 'San Francisco Regular', sans-serif;
    font-size: var(--size_text_medium);
    padding: 0;
    margin: 0;
    line-height: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}


/* STACK */


.stack {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px);
    /* background-color: blue; */
}

.stack-main {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 10%;
}

.stack .text-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    row-gap: 40px;

    height: 100%;
    width: 100%;
}


.stack .title {
    font-family: 'San Francisco Regular', sans-serif;
    font-size: var(--size_text_large);
    padding: 0;
    margin: 0;
    line-height: 50px;
}

.stack .sub-title {
    font-family: 'San Francisco Regular', sans-serif;
    font-size: var(--size_text_medium);
    padding: 0;
    margin: 0;
    line-height: 50px;
}

.stack .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;

}

.stack .list p {
    margin: 0;
    line-height: 14px;
}

.stack-item {
    display: flex;
    flex-direction: column;
}


/* PROJECTS */

.projects {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
    justify-content: flex-start;

    padding-top: 100px;
    padding-bottom: 100px;

    gap: 80px;
    /* border-top: 2px solid var(--col_border_transparent); */
    /* background-color: green; */

}

.projects .title {
    font-size: var(--size_text_large);
    font-weight: 400;
    margin: 0;
}

.projects .scrollable {
    width: 100%;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: scroll;
    gap: 20px;

}
.projects .scrollable::-webkit-scrollbar {
    display: none;
  }